	*{
		font-family: sans-serif;
	}
	.indata{
		/*padding: 0 100px;*/
		width: 100%;
		margin: 10px auto;
	}
	.subdata{
		height: 100px
	}
	.indata h1{
		font-size: 30px;
		width: 75%;
		margin: 25px auto;
		text-align: center;
	}
	input{
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		display: inline-block;
		border: 1px solid #ececec;
		border-radius: 8px;
		box-sizing: border-box;
	}
	select {

	  /* styling */
	  width: 100%;
	  background-color: white;
	  border: #ececec;
	  border-radius: 4px;
	  display: inline-block;
	  font: inherit;
	  line-height: 1.5em;
	  padding: 0.5em 3.5em 0.5em 1em;

	  /* reset */

	  margin: 0;      
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	  -webkit-appearance: none;
	  -moz-appearance: none;
	}
		select.minimal {
	  background-image:
	    linear-gradient(45deg, transparent 50%, gray 50%),
	    linear-gradient(135deg, gray 50%, transparent 50%),
	    linear-gradient(to right, #ccc, #ccc);
	  background-position:
	    calc(100% - 20px) calc(1em + 2px),
	    calc(100% - 15px) calc(1em + 2px),
	    calc(100% - 2.5em) 0.5em;
	  background-size:
	    5px 5px,
	    5px 5px,
	    1px 1.5em;
	  background-repeat: no-repeat;
	}
	select.minimal:focus {
	  background-image:
	    linear-gradient(45deg, green 50%, transparent 50%),
	    linear-gradient(135deg, transparent 50%, green 50%),
	    linear-gradient(to right, #ccc, #ccc);
	  background-position:
	    calc(100% - 15px) 1em,
	    calc(100% - 20px) 1em,
	    calc(100% - 2.5em) 0.5em;
	  background-size:
	    5px 5px,
	    5px 5px,
	    1px 1.5em;
	  background-repeat: no-repeat;
	  border-color: #ececec;
	  outline: 0;
	}
	select .poly{
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		display: inline-block;
		border: 1px solid #2ecc71;
		border-radius: 8px;
		box-sizing: border-box;
	}
	textarea{
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		display: inline-block;
		border: 1px solid #ececec;
		border-radius: 8px;
		box-sizing: border-box;
	}
	.submit {
	    background-color: #525CEB;
	    color: white;
	    padding: 12px 20px;
	    border: none;
	    border-radius: 4px;
	    cursor: pointer;
	 	margin: 20px auto 0;
	 	width: 100%
	}
	.formdata{
		width: 75%;
		padding: 10px;
		margin: 0 auto;
	}
	.newacc{
		width: 100%;
		margin: 0 auto;
		padding: 5px;
	}
	.newacc p{
		width: 50%;
		margin: 0 auto;
	}
	.newacc a{
		text-decoration: none;
	}
